.mais-sobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 150px;
}
.mais-sobre .foto img{
  border-radius: 4px;
}
.mais-sobre > .sobre-descricao{
  font-size: 2rem;
  font-family: "Nunito";
  color: #2E2E2E;
}
@media (max-width:900px) {
  .mais-sobre{
    grid-template-columns: 1fr;
  }

  .mais-sobre > .sobre-descricao{
    margin: 0 20px 0 20px;
    font-size: 1.5rem;
  }
  .mais-sobre .foto img{
    margin-bottom: 10px;
  }
}
@media (max-width:600px){
  .mais-sobre > .sobre-descricao{
    margin: 0 10px 0 10px;
    font-size: 1.125rem;
  }
}