.menu ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #D9D9D9;
  padding: 10px;
  padding-right: 10px;
}
.menu > ul > li > a{
text-decoration: none;
color: #2E2E2E;
font-size: 1.2rem;
display: block;
font-weight: bold;
border-bottom: 3px solid #D9D9D9;
transition: border .3s;
border-radius: 8px;
}
.menu > ul > li > a:hover{
  border-bottom: 3px solid #2E2E2E;
  border-radius: 8px;
}